@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin placeholder {
 &::-webkit-input-placeholder {
   @content;
 }
 &:-moz-placeholder {
   @content;
 }
 &::-moz-placeholder {
   @content;
 }
 &:-ms-input-placeholder {
   @content;
 }
}
