.arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.arc path {
  stroke: #fff;
}

.glyphiconPositive { color: green; }

.glyphiconNegative { color: red; }

.glyphiconNeutral { color: #FFA626; }

.control.glyphicon {
  position: static;
  font-size: 23px;
}
