@import "./../../stylesheet";

.ts-blk-proview-head {
  text-align: center;
  color: #ffffff !important;
  width: 100%;
  line-height: 28px;
  font-size: 18px;
  height: 28px;
  background-color: #00539f;

}

.pageTitle{
  font-family: Tesco;
  font-size: 20px;
  text-align: center;
  //color: #e5e5e5;
  //background-color: #00294f;
  //background-color: #00539f;
  width: 100%;
  padding: 0px;

  color:#00294f !important;
  background-color: #e5e8ea;
}

.ts-blk-proview-subhead {
  text-align: center;
  width: 100%;
  line-height: 28px;
  font-size: 18px;
  height: 28px;
  background-color: #b3e0ff;
}

.promoTable{
  margin-left: 1%;
  width: 98%;
}

.tabsCustom {
  margin-top: 2px !important;
  margin-bottom: 5px !important;
}

.mainBox{
  margin-left: 1% !important;
  margin-right: 1% !important;
  border: 1px solid #e5e8ea;
  background-color: #F5F5F5;
}
//TABS
//.tabsCustomList {
  //color: red;
  //width: 30%;
  //text-align: center;
  //border-style: ridge;
  //border-radius: 8px;
  //margin-left: 35px;
//}
//
//.tabsCustomList {
//  display: inline-block;
//  margin: 0 0px 0 0 !important;
//  border-bottom: none;
//  font-size: 14px !important;
//}
//
//
//.tabsCustomList a{
//  background: #EDECEC;
//  font-family: 'Tesco' !important;
//  color: #00539f !important;
//  display: block !important;
//  padding: 15px 24px 16px 24px !important;
//  text-decoration: none;
//}
//.tabsCustomList a:hover {
//  text-decoration: underline !important;
//  color:#008dc8;
//}
//.tabsCustomList.active{
//  margin-bottom: -1px;
//}
//
//.tabsCustomList span.tab_label{
//  //padding: 12px 8px;
//  //color: #048EC3;
//  //font-weight: 600;
//}
//
//
//.tabsCustomList.active span.tab_label{
//  border-bottom: #048EC3 solid 4px;
//}

//---exec tab css---


//TABS
//.tabsCustomList {
  //color: red;
  //width: 30%;
  //text-align: center;
  //border-style: ridge;
  //border-radius: 8px;
  //margin-left: 35px;
//}

.tabsCustomList {
  display: inline-block;
  margin: 0 2px 0 0 !important;
  border-bottom: none;
  font-size: 14px !important;
}
.tabsCustomList span.tab_label{
  font-size: 14px !important;
}

.tabsCustomList a{
  background: #EDECEC !important;
  fontFamily: 'Tesco' !important;
  color: #00539f !important;
  display: block !important;
  padding: 8px 10px 8px 10px !important;
  text-decoration: none;
}
.tabsCustomList a:hover {
  text-decoration: underline !important;
  color:#008dc8;
}
.tabsCustomList.active{
  margin-bottom: -1px;
}

.tabsCustomList span.tab_label{
  padding: 5px 5px;
  color: #048EC3;
  font-weight: 600;
}


.tabsCustomList.active span.tab_label{
  border-bottom: #048EC3 solid 4px;
}


//---end of exec tab css
.tabsCustomListTime {
  display: inline-block;
  margin: 0 2px 0 0 !important;
  border-bottom: none;
  font-size: 16px !important;
}


.tabsCustomListTime a{
  background: #EDECEC;
  font-family: 'Tesco' !important;
  color: #00539f !important;
  display: block !important;
  padding: 12px 12px 12px 12px !important;
  text-decoration: none;
}
.tabsCustomListTime a:hover {
  text-decoration: underline !important;
  color:#008dc8;
}
.tabsCustomListTime.active{
  margin-bottom: -1px;
}

.tabsCustomListTime span.tab_label{
  padding: 5px 5px;
  color: #048EC3;
  font-weight: 600;
}


.tabsCustomListTime.active span.tab_label{
  border-bottom: #048EC3 solid 4px;
}


.secondaryTabs{
  font-size: 18px !important;
}

.tesco-heading {
  width: 100%;
  line-height: 28px;
  font-size: 18px;
  height: 28px;
  color: #00539f !important;
  font-weight: 500;
  text-align: center;
  padding-left: 1%;
}

.content-wrap{
  background: #fff;
}

.pageModuleMainTitle{
  width: 98%;
  line-height: 28px;
  font-size: 18px;
  height: 28px;
  color: #00539f !important;
  background-color:#e5e8ea !important;
  margin-left: 1%;
  font-weight: bold;

  //font-weight: 500;
  //color: #666666 !important;
  text-align: center;
  padding-left: 1%;
  vertical-align: middle;
}

.pageModuleSubTitle{
  width: 100%;
  line-height: 28px;
  font-size: 18px;
  height: 30px;
  color: #00539f !important;
  font-weight: 500;
  text-align: center;
  vertical-align: middle;
  padding-left: 3%;
  //padding-top: 3%;

}

.kpiSubTitle{
  color: #00539f !important;
}

.infoButtonModuleMainTitle{
  line-height: 28px;
  font-size: 17px;
  height: 28px;
  color:#00539f;
  right:10px;
  vertical-align: middle;

  //background-color:#e5e8ea !important;
}

.glyphiconPositive { color: green; }

.glyphiconNegative { color: red; }

.glyphiconNeutral { color: #FFA626; }


//For the small wow,yoy,lfl boxes in the kpi boxes
.kpiSmall{
  padding: 0;
}


//Tabs For the Navigation Panel

.tabsNavPanel1{
  margin-top: 27px;
}

.tabsNavPanelList1 {
  display: inline-block;
  border-bottom: none;
}

.tabsNavPanelList1 span.tab_label {
  padding: 12px 8px;
  font-weight: 700;
  font-family: Tesco;
  color: #00539f;
  font-size: 16px;
  vertical-align: middle;
}

.tabsNavPanelList1.active span.tab_label {
  border-bottom: #048EC3 solid 4px !important;
}
.tabsNavPanelList1 a {
  font-weight: 700 !important;
  font-family: 'Tesco' !important;
  padding: 15px 15px 16px 15px !important;
  text-decoration: none;
  font-size: 14px;
  background: #fff !important;
  border:0px !important;
  color: #00539f !important;
}

.kpiSubTitle{
  color: #00539f !important;
}

.glyphiconPositive { color: green; }

.glyphiconNegative { color: red; }

.glyphiconNeutral { color: #FFA626; }

.glyphicon-triangle-top {
  font-size: 12px;
  color: #8bc249;
}
.glyphicon-triangle-bottom {
  font-size: 12px;
  color: #ef4438;
}
.glyphicon-minus-sign{
  font-size: 12px;
  color: #FFA626;
}

.cardPanel {
  padding:0px !important;
}
